<strong>Ola, {{ name }}</strong>
<p>Sua nova matricula esta pronta! Seguem os detalhes:</p>
<p>
<strong>Inicio: </strong> {{ start_date }} <br/>
<strong>Final: </strong>{{ end_date }} <br/>
<strong>Duracao: </strong>{{ duration }} meses <br/>
<strong>Preco total: </strong>R$ {{ price }}<br/>
</p>
<small>Obrigado pela preferencia! Bora treinar []s</small>